USE [master]
GO
/****** Object:  Database [CatalogoJogos]    Script Date: 27/07/2021 18:54:42 ******/
CREATE DATABASE [CatalogoJogos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CatalogoJogos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CatalogoJogos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CatalogoJogos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CatalogoJogos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CatalogoJogos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CatalogoJogos]
GO
/****** Object:  Table [dbo].[Jogos]    Script Date: 27/07/2021 18:54:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogos](
	[Id] [char](36) NOT NULL,
	[Nome] [varchar](255) NULL,
	[Produtora] [varchar](255) NULL,
	[Preco] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Jogos] ([Id], [Nome], [Produtora], [Preco]) VALUES (N'da033439-f352-4539-8797-515759312d53', N'FIFA 18', N'EA', 169.99)
INSERT [dbo].[Jogos] ([Id], [Nome], [Produtora], [Preco]) VALUES (N'5e99c84a-108b-4dfa-ab7e-d8c55957a7ec', N'FIFA 19', N'EA', 179.99)
INSERT [dbo].[Jogos] ([Id], [Nome], [Produtora], [Preco]) VALUES (N'eb909ced-1862-4789-8641-1bba36c23db3', N'FIFA 20', N'EA', 189.99)
GO
USE [master]
GO
